.chat {
  flex: 70%;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .chat {
    flex: 65%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
  .chat {
    flex: 60%;
  }
}

@media screen and (max-width: 900px) {
  .chat {
    flex: 55%;
  }
}
