.login {
  width: min(500px, 100%);
  height: min(500px, 100%);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  background-color: #fff;
  box-shadow: 0 17px 50px 0 rgba(11, 20, 26, 0.19),
    0 12px 15px 0 rgba(11, 20, 26, 0.24);
}

.login__logo {
  width: 120px;
  height: 120px;
}

.login__title {
  color: #41525d;
  font-size: 24px;
  font-weight: 300;
}

.login__btn {
  appearance: none;
  border: none;
  outline: 1px solid rgba(11, 20, 26, 0.24);
  cursor: pointer;

  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  padding: 0 8px;
  color: #444;
}

.login__btn:hover {
  box-shadow: 0 1px 3px rgba(11, 20, 26, 0.24), 1px 0 3px rgba(11, 20, 26, 0.19);
}
