.footer {
  min-height: 62px;

  padding: 5px 17px 5px 10px;
  background-color: #f0f2f5;
  border-left: 1px solid #e9edef;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__actions {
  display: flex;
  align-items: center;

  padding: 5px 10px;
  padding-right: 0;
}

.action,
.input__btn {
  display: grid;
  place-items: center;
}

.action > :global(.MuiIconButton-root) {
  width: 26px;
  height: 26px;
}

.action > :global(.MuiIconButton-root) > svg {
  font-size: 22px;
}

.footer__input {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.input__group {
  flex: 1;
  margin: 5px 10px;
  position: relative;
}

.input {
  appearance: none;
  outline: none;
  border: 1px solid #fff;
  border-radius: 8px;

  padding: 9px 12px 11px;
  width: 100%;
  max-height: 100px;

  background-color: #fff;
  color: #3b4a54;
  font-size: 15px;
  font-weight: 400;
  word-break: break-word;
  overflow: auto;
}

.input__placeholder {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 15px;
  color: #3b4a54;
  pointer-events: none;
}

.input__btn {
  padding: 5px 10px;
}

.input__btn > :global(.MuiIconButton-root) {
  width: 24px;
  height: 24px;
}

.input__btn > :global(.MuiIconButton-root) > svg {
  font-size: 20px;
}
