.app {
  background-color: #f0f2f5;
  height: 100vh;

  background-image: linear-gradient(180deg, #eae6df, #d1d7db);

  display: grid;
  place-items: center;

  isolation: isolate;
}

.app::after {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 127px;
  background-color: #00a884;
}

.app__body {
  display: flex;

  width: 100%;
  height: 100%;

  background-color: #efeae2;
  box-shadow: 0 6px 18px rgba(11, 20, 26, 0.05);

  overflow: hidden;
}

@media screen and (min-width: 1441px) {
  .app__body {
    width: calc(100% - 38px);
    max-width: 1600px;
    height: calc(100% - 38px);
  }
}
